# ===============================
# SERVER CONFIG
# ===============================
PORT=8000
NODE_ENV=development

# ===============================
# DATABASE
# ===============================
MONGODB_URI=

# ===============================
# FRONTEND
# ===============================
# URL where frontend is running (used for redirects after login / OAuth)
FRONTEND_URL=

# ===============================
# JWT CONFIG
# ===============================
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=

REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=

# ===============================
# EMAIL (BREVO)
# ===============================
BREVO_API_KEY=
# EMAIL_FROM=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=

# ===============================
# EMAIL VERIFICATION
# ===============================
EMAIL_VERIFICATION_TOKEN_EXPIRY=
PASSWORD_RESET_TOKEN_EXPIRY=

# ===============================
# GOOGLE OAUTH
# ===============================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
YOUTUBE_API_KEY=

# ===============================
# CORS`
# ===============================
CORS_ORIGIN=

DAILYMOTION_API_KEY=
DAILYMOTION_CLIENT_SECRET=